/* .spinner {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #3498db;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  } */


.googleCalender {
  width: 400px;
  height: 400px;
}




/* About Us Styling */
#about-us,
#resources,
#contact {
  padding: 0 20px;
}

#about-us h2,
#resources h2,
#contact h2 {
  margin: 10px 0;
  color: #333;
}

#resources ul {
  list-style-type: none;
  padding: 0;
}

#resources li {
  margin-bottom: 5px;
}








/* Responsible Persons Section */
.responsible-persons {
  margin-top: 10px;
  border-top: 2px solid #929292;
  /* Added top border for separation */

}

.responsible-list {
  list-style-type: none;
  padding: 0 0 0 7%;
  margin: 0;
}



.responsible-list li {
  margin: 8px auto;
  font-size: 16px;
  padding-bottom: 5px;
  border-bottom: 1px solid #b6b6b6;
}



.view-all-btn {
  padding: 10px;
  color: #007bff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.view-all-btn:hover {
  background-color: #d4d4d4;
}



















@media only screen and (max-width: 435px) {
  /* For smaller devices like mobile phones */


  .googleCalender {
    width: 100%;
    height: 400px;
  }



  #about-us h2,
  #resources h2,
  #contact h2 {
    font-size: 20px;
  }


  #about-us p,
  #contact p {
    font-size: 16px;
  }
  .responsible-list li {
    margin: 10px auto;

  }
  

}



@media only screen and (min-width: 435px) {
  /* For bigger like laptop */

  .responsible-list {
    width: 20%;
    padding: 0 0 0 2%;
  }



}






